<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>learnServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>upload folder</param-name>
    <param-value>attachment</param-value>
  </context-param>
  <context-param>
    <param-name>allowed file type</param-name>
    <param-value>.gif,.jpg,.bmp</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>firstServlet</servlet-class>
    <init-param>
      <param-name>hellowen</param-name>
      <param-value>password</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestServlet</display-name>
    <servlet-name>requestServlet</servlet-name>
    <servlet-class>requestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestServlet</servlet-name>
    <url-pattern>/requestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdentityServlet</display-name>
    <servlet-name>IdentityServlet</servlet-name>
    <servlet-class>IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityServlet</servlet-name>
    <url-pattern>/IdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParamServlet</display-name>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>InitParamServlet</servlet-class>
    <init-param>
      <param-name>hellowen</param-name>
      <param-value>password</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/InitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextParamServlet</display-name>
    <servlet-name>ContextParamServlet</servlet-name>
    <servlet-class>ContextParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextParamServlet</servlet-name>
    <url-pattern>/ContextParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InjectionServlet</display-name>
    <servlet-name>InjectionServlet</servlet-name>
    <servlet-class>InjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectionServlet</servlet-name>
    <url-pattern>/InjectionServlet</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>hello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello, Welcome to the JavaEE Resource Injection</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>i</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>persons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Helloween, Cobain, Roses, Axl,</env-entry-value>
  </env-entry>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
     <description></description>
     <display-name>UploadServlet</display-name>
     <servlet-name>UploadServlet</servlet-name>
     <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>UploadServlet</servlet-name>
     <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- jsp配置 -->
  <servlet>
     <servlet-name>greeting</servlet-name>
     <servlet-class>/greeting.jsp</servlet-class>
     <!-- 配置JSP初始化参数 -->
     <init-param>
        <param-name>message</param-name>
        <param-value>welcome to jsp</param-value>
     </init-param>
  </servlet>
  <servlet-mapping>
      <servlet-name>greeeting</servlet-name>
      <url-pattern>/greeting</url-pattern>
  </servlet-mapping>
</web-app>